// FONTS
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ================ GLOBAL STYLES ================ */
body {
	@include bodyFont;
	color: $white;
	@include clearfix;
    padding: 40px 0;
    font-size: 14px;

    // important for the mmenu plugin to work correctly
    background: $bgGray;

	* {
		text-decoration: none;
		@include transition-property(all);
		@include transition-duration(.3s);
		@include transition-timing-function(ease in);
	}

	a, button, input {
		text-decoration: none;
		@include transition-property(all);
		@include transition-duration(.3s);
		@include transition-timing-function(ease in);
	}
}
.icon {
	font-family: $iconFont;
}

a.backToTop {
	position: fixed;
	bottom: 20px;
	z-index: 20;
	background: black;
	text-decoration: none;
	color: $white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	display: none;
	font-weight: normal;

	@include breakpoint(max-width $phoneLandscape) {
		display: none !important;
	}

	&:hover {
		background: black;
	}
}//backToTop

@media print
{    
    .noPrint, .noPrint *
    {
        display: none !important;
    }
}

img {
	font-size: 0;
	color: $white;
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle; 
}
