section#contactMe {
    padding-top: 40px;
    border-bottom: solid 1px $borderGray;
    @include clearfix;

    @include sectionHeader;
    
    article.content {
        margin-bottom: 40px;

        form {
            label {
                display: block;
                margin-bottom: 20px;

                input {
                    width: 100%;
                    border: solid 1px $borderGray;
                    height: 40px;
                    line-height: 35px;
                    background: #fcfcfc;
                    padding: 0 20px;
                    outline: none;

                    &:focus {
                        border-color: $jaffa;
                    }
                }

                textarea {
                    @extend input;
                    height: 190px;
                    line-height: 2;
                    padding: 5px 20px;
                    resize: none;
                }
            }

            div.submit {
                button {
                    @include buttonStyle;
                }
            }
        }
    }
}//contactMe