div.container {
    background: $white;
}//container

@media print
{    
    .noPrint, .noPrint *
    {
        display: none !important;
    }
}

img {
    font-size: 0;
    color: $white;
    max-width: 100%;
    height: auto;
    // display: inline-block;
    vertical-align: middle; 
    display: block;
    margin: auto;
}

a.backToTop {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 20;
    background: none;
    color: $white;
    width: 0; 
    height: 0; 
    border-top: 50px solid transparent;
    border-bottom: 0px solid transparent; 
    border-right: 50px solid $jaffa; 
    display: none;

    @include breakpoint(max-width $phoneLandscape) {
        display: none !important;
    }

    &:hover {
        border-right-color: $toryBlue;
    }

    i {
        font-size: 18px;
        position: absolute;
        bottom: 0;
        right: -40px;
        font-size: 24px;
    }
}//backToTop

.hide {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    overflow:  hidden !important;
    shadow: none;
    border: none;
}

p.error {
    margin-top: 20px;
    color: $white;
    padding: 10px 50px 10px 20px;
    background: #f04124;
    position: relative;

    i.dismess {
        font-family: tahoma, sans-serif;
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
}

p.success {
    @extend p.error;
    background: #43AC6A;
}