header.mainHeader {
    text-align: center;
    border-bottom: solid 1px $borderGray;

    h1 {
        margin: 40px auto;
        display: block;

        @include breakpoint(max-width $phoneLandscape) {
            margin: 20px auto;
        }

        a {
            display: block;
            width: 163px;
            height: 57px;
            margin: auto;
            @include hideText;
            @include backgroundImage($image: "logo.png", $size: 163px 57px, $horizontal: center, $vertical: center);
        }
    }
}