nav.mainNav {
    text-align: center;
    border-bottom: solid 1px $borderGray;

    ul {
        li {
            display: inline-block;

            a {
                text-transform: uppercase;
                color: $textColorLight;
                position: relative;
                padding: 20px;
                display: block;
                letter-spacing: .5px;

                @include breakpoint(max-width $phoneLandscape) {
                    padding: 10px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 50%;
                    width: 0;
                    height: 1px;
                    background: $jaffa;
                    display: block;
                    transition: all .3s ease-in;
                }

                &:before {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    right: 50%;
                    width: 0;
                    height: 1px;
                    background: $jaffa;
                    display: block;
                    transition: all .3s ease-in;
                }

                &:hover, &.active {
                    color: $toryBlue;
                    
                    &:after, &:before {
                        width: 50%;
                    }
                }

                i {
                    margin-right: 10px;
                }
            }
        }
    }

}//mainNav