section#portfolio {
    padding-top: 40px;
    border-bottom: solid 1px $borderGray;
    @include clearfix;

    @include breakpoint(max-width $phoneLandscape) {
        padding-top: 20px;
    }

    @include sectionHeader;
    
    article.content {
        margin-bottom: 40px;

        @include breakpoint(max-width $phoneLandscape) {
            margin-bottom: 20px;
        }

        div.project {
            margin-top: 80px;

            &:first-child {
                margin-top: 0;
            }

            div.projectThumb {
                text-align: center;

                @include breakpoint(max-width $phoneLandscape) {
                    margin-bottom: 20px;
                }
            }

            div.projectDesc {
                h2 {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                p {
                    line-height: 2;
                    margin-bottom: 20px;

                    a {
                        color: $textColorDark;
                        border-bottom: dotted 1px $textColorLight;

                        &:hover {
                            color: $jaffa;
                            border-color: $jaffa;
                        }
                    }
                }

                a.more {
                    @include buttonStyle;
                }
            }
        }//project
    }
}//portfolio